#br_framebox {
  font-family: sans-serif;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin-left: -100%;
  opacity: 0;
  z-index: 999;
  pointer-events: none;
  touch-action: none;
  transition: opacity 400ms linear;
}

html.showframe #br_framebox {
  margin-left: 0%;
  pointer-events: all;
}

html.zoomframe #br_framebox {
  opacity: 1;
}

#br_framebox iframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  border: 0px solid rgba(255, 255, 255, 0);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(6px);
}

#br_loadbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin-left: -100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4D5359;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1000ms linear;
}

#br_loadpanel {
  margin: auto;
  vertical-align: middle;
}

#br_loader {
  margin: auto;
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

#br_loadpanel p {
  font-family: sans-serif;
  font-size: 25px;
  color: #FFF;
  padding: 0.3em;
}

@keyframes spin {
  0% {
	transform: rotate(0deg);
  }

  100% {
	transform: rotate(360deg);
  }
}

html.slide_loader #br_loadbox {
  margin-left: 0%;
}

html.showframe,
html.slide_loader > body,
html.showframe > body {
  overflow: hidden;
}

html.fade_loader #br_loadbox {
  opacity: 0.9;
  pointer-events: all;
}